<!DOCTYPE html>
<html>
<head> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>   
</head>
<body>
<div class="container">
	<h1>Star Wars Characters</h1>

    <div ng-app="myApp" 
        ng-controller="myController">
		
        <table class="table table-striped table-bordered table-hover table-responsive">
            <tr>
                <th>Name</th>
                    <th>Height</th>
                        <th>Mass</th>
							<th>Gender</th>
								<th>Hair Color</th>
									<th>Skin Color</th>
										<th>Eye Color</th>
            </tr>

            <tr ng-repeat="characters in list">
                <td><a ng-href="#" ng-click="openTab(characters.url)">{{characters.name}}</a></td>
                    <td>{{characters.height}}</td>
                        <td>{{characters.mass}}</td>
							<td>{{characters.gender}}</td>
								<td>{{characters.hair_color}}</td>
									<td>{{characters.skin_color}}</td>
										<td>{{characters.eye_color}}</td>
								
            </tr>
        </table>
    </div>

</div>
</body>

<!--The Controller-->
<script>
    var app = angular.module('myApp', []);
    app.controller('myController',
        function ($scope, $http, $window) {

            var request = {
                method: 'get',
                url: 'https://swapi.co/api/people',
                dataType: 'json',
                contentType: "application/json"
            };

            $scope.arrCharacters = new Array;

            $http(request)
                .success(function (jsonData) {
                    $scope.arrCharacters = jsonData.results;
                    $scope.list = $scope.arrCharacters;
                })
                .error(function () {

                });				
				
			$scope.openTab = function (url) {				
				sessionStorage["url"] = angular.copy(url);
				$window.open("show.html");
			};				
				
        });
</script>
</html>