<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body>
<div class="container">
	<h1>Character Details</h1>
    <div ng-app="myApp" ng-controller="myController">		
        <table class="table table-striped table-bordered table-responsive">
        <tr><td><strong>Name</strong></td><td>{{ details.name }}</td></tr>
		<tr><td><strong>Height</strong></td><td>{{ details.height }}</td></tr>
		<tr><td><strong>Mass</strong></td><td>{{ details.mass }}</td></tr>
		<tr><td><strong>Hair Color</strong></td><td>{{ details.hair_color }}</td></tr>
		<tr><td><strong>Skin Color</strong></td><td>{{ details.skin_color }}</td></tr>
		<tr><td><strong>Eye Color</strong></td><td>{{ details.eye_color }}</td></tr>
		<tr><td><strong>Year of Birth</strong></td><td>{{ details.birth_year }}</td></tr>
		<tr><td><strong>Gender</strong></td><td>{{ details.gender }}</td></tr>
		<tr>
			<td><strong>Films</strong></td>
			<td>
				<ul ng-repeat="list in details.films">
					<li>{{ list }}</li>
				</ul>			
			</td>
		</tr>
        </table>
    </div>
	
</div>
</body>

<!--The Controller-->
<script>
	var url = sessionStorage["url"];

    var app = angular.module('myApp', []);
    app.controller('myController',
        function ($scope, $http, $window) {

            var request = {
                method: 'get',
                url: url,
                dataType: 'json',
                contentType: "application/json"
            };

            $scope.objAttributes = new Array;

            $http(request)
                .success(function (jsonData) {
                    $scope.objAttributes = jsonData;
                    $scope.details = $scope.objAttributes;
                })
                .error(function () {

                });
        });
</script>
</html>